<!DOCTYPE html>
<html lang="pt-MZ">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringFile</title>
    <link rel="stylesheet" href="/style/home.css">
    <link rel="icon" href="/icon.png">
</head>
<body>
    <header>
        <h1>SpringFile</h1>
        <h3>Partilha de ficheiros</h3>
    </header>

    <form method="post">
        <p>Carregue um ficheiro para os outros dispositivos...</p>
        <div>
            <label for="fileInput" id="fileLabel">Carregar ficheiros</label>
            <input type="file" id="fileInput">
            <button id="uploadButton">Carregar</button>
        </div>
    </form>

    <div id="files">
        <p>Todos os ficheiros carregados...</p>
        <button onclick="update()">Atualizar</button>
        <div id="allFiles">            
        </div>
    </div>

    <script src="/javascript/home.js"></script>
</body>
</html>